.services {
  padding: 60px 20px;
  background-color: var(--foreground);
}

.services h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--background);
  margin-bottom: 20px;
}

.servicesDescription {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: var(--background);
  text-align: center;
  margin: 0 160 0 160;
}

.servicesImage {
  position: relative;
  width: 80%;
  height: 300px;
  margin: 0 auto 40px;
}

.servicesList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.serviceItem {
  background-color: var(--background);
  color: var(--foreground);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceItem:hover {
  transform: translateY(-5px);
  color: var(--background);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

