.about {
  padding: 60px 20px;
  text-align: center;
  background-color: var(--foreground);
}

.about h2 {
  font-size: 1.5rem;
  color: var(--background);
  margin-bottom: 30px;
}

.about p {
  font-size: 1.25rem;
  color: var(--background);
  line-height: 1.6;
  text-align: center;
  margin: 0 160 0 160;
}

.aboutImage {
  position: relative;
  width: 80%;
  height: 300px;
  margin: 0 auto 40px;
}

